* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.regform {
  background-color: hsl(0, 100%, 74%);
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.page-content {
  width: 100%;
  background: url("bg-intro-desktop.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.left-content {
  color: hsl(0, 0%, 95%);
  width: 40%;
  margin: -30px;
}
.left-content h2 {
  font-size: 45px;
  font-weight: 700;
}
.left-content p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 20px;
}
.right-content {
  width: 30%;
  height: 500px;
}
.right-content .formhead {
  background-color: hsl(248, 32%, 49%);
  color: hsl(0, 0%, 95%, 0.8);
  width: 450px;
  padding: 20px 15px 15px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  border-radius: 10px;
  box-shadow: 0 5px 0 hsla(0, 5%, 24%, 0.219);
}
.form {
  background-color: hsl(0, 0%, 100%);
  padding: 20px 40px 0;
  height: 60vh;
  width: 450px;
  margin: 30px 0 60x;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 5px 0 hsla(0, 5%, 24%, 0.219);
}

.form input {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  border: 2px solid hsla(0, 100%, 74%, 0.534);
  font-size: 12px;
  padding: 18px;
  border-radius: 5px;
  font-weight: 700;
  color: hsl(0, 100%, 74%);
}
.form input:hover {
  border: 2px solid hsl(0, 89%, 48%);
}
.icon {
  position: absolute;
  right: 3rem;
  margin: 25px 15px;
}
.error {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  margin-left: 220px;
  font-weight: 300;
}
.form button {
  background-color: hsl(154, 59%, 51%);
  border: none;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.8);
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  font-size: 12px;
  font-weight: 900;
}
.form button:hover {
  cursor: pointer;
  background-color: hsl(0, 89%, 48%);
}
.footer {
  margin-left: 40px;
  margin-top: 8px;
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  align-items: center;
}
span {
  color: hsl(0, 100%, 74%);
}

::placeholder {
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 1100px) {
  .error,
  .icon {
    display: none;
  }
  .form input{
    margin-bottom: 20px;
    border-color: hsl(246, 25%, 77%);
    color: hsl(0, 60%, 1%);
  }
  .form input:hover {
    border: 2px solid hsl(0, 60%, 1%);
  }
  ::placeholder{
    visibility: hidden;
  }
}
@media screen and (min-width: 600px) {
    .form{
        height: 100%;
        
    }
    .left-content{
        width: 40%;
    }
 
}